<div class="example-config">
  <button (click)="restoreColumns()" class="k-button">
    Restore hidden columns
  </button>
</div>
<div class="example-config">
  <label class="k-form-field">
    <input
      class="k-checkbox"
      type="checkbox"
      id="allowUnsort"
      [(ngModel)]="allowUnsort"
    />
    <label class="k-checkbox-label" for="allowUnsort">
      Toggle unsorting
    </label> </label
  ><br />
  <label class="k-form-field">
    <input
      class="k-checkbox"
      type="checkbox"
      id="multiple"
      [(ngModel)]="multiple"
    />
    <label class="k-checkbox-label" for="multiple">
      Toggle multiple columns sorting
    </label>
  </label>
</div>
<kendo-grid 
[data]="gridView" 
[pageSize]="pageSize" 
[skip]="skip" 
[pageable]="true" 
[height]="530"
  (pageChange)="pageChange($event)"
[sortable]="{
    allowUnsort: allowUnsort,
    mode: multiple ? 'multiple' : 'single'
  }"
[sort]="sort"
  (sortChange)="sortChange($event)">
   <ng-template ngFor [ngForOf]="columns" let-column>
        <kendo-grid-column
          field="{{ column }}"
          [hidden]="hiddenColumns.indexOf(column) > -1"
          [headerStyle]="{'background': '#cce0ff'}"
        >
          <ng-template kendoGridHeaderTemplate let-dataItem>
            {{ dataItem.field }}
            <button
              (click)="hideColumn(dataItem.field)"
              class="k-button k-primary"
              style="float: right;"
            >
              Hide
            </button>
          </ng-template>
        </kendo-grid-column>
      </ng-template>
</kendo-grid>